@import './common/vars.sass'
@import './common/gem.scss'
@import '../libs/slick/slick.css'
*
    box-sizing: border-box

html, body
    width: 100%

body,
main
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    overflow: hidden
    height: 3600vh
    // height: 100vh
    &.mobile-menu-open
        overflow: hidden
    &.modal-active
        overflow: hidden

main
    position: relative
    width: 100%
    flex: 1 0 auto

.footer
    width: 100%
    flex: 0 0 auto

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // visibility: hidden

.fluid-container
    width: 100%
    position: relative

.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

.row
    display: flex
    flex-direction: row

.row-reverse
    display: flex
    flex-direction: row-reverse

.column
    display: flex
    flex-direction: column

.column-reverse
    display: flex
    flex-direction: column-reverse

.s-visible,
.xs-visible,
.xxs-visible
    display: none

.lazy
    opacity: 0
    transition: opacity 0.3s ease
    &Loaded
         opacity: 1
.opacity_none
    opacity: 0
input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

@media only screen and (max-width : 1024px)
    .s-hidden
        display: none

    .s-visible
        display: block

@media only screen and (max-width : 480px)

    body
        &.modal-active
            position: fixed

    .xxs-visible
        display: block

    .xxs-hidden
        display: none

//start here
.preloader
    width: 100%
    height: 100vh
    z-index: 9999
    position: fixed
    background: #ffffff
    transition: all 0.3s ease
    video
        width: 150%
        height: 150%
        margin-left: -25%
        margin-top: -12.5%
        // height: 100vh
    .preloader_inner
        position: absolute
        top: 45vh
        left: 45%
        font-family: var(--sub-font)
        font-size: gem(96)
        line-height: gem(58)
        color: #fff
    &.inactive
        opacity: 0
        pointer-events: none
.header
    display: flex
    width: 100%
    height: gem(90)
    align-items: center
    position: fixed
    top: 0
    z-index: 10
    backdrop-filter: blur(gem(86))
    transition: all 0.75s ease
    
    &.light
        a.button-1
            color: #745DFF
        .header-all-button
            background: #ffffff
            transition: all 0.75s ease
            &:after
                background: linear-gradient(180deg, #313133 0%, #1B1C21 100%)
            &:hover
                a.button-1
                    color: #ffffff
        .header-all-links
            a:nth-child(4), a:nth-child(5)
                color: #ffffff
            &:after
                display: flex
                // opacity: 1
        .header-line-main
            width: 100%
    &.light_two
        a.button-1
            color: #745DFF
        .header-all-button
            background: #ffffff
            transition: all 0.75s ease
            &:after
                background: linear-gradient(180deg, #313133 0%, #1B1C21 100%)
            &:hover
                a.button-1
                    color: #ffffff
        .header-all-links
            a:nth-child(4) , a:nth-child(5) 
                color: #ffffff
        .header-line-main
            width: 100%
            opacity: 0.2
    &.full-light
        a.button-1
            color: #745DFF
        .header-all-button
            background: #ffffff
            transition: all 0.75s ease
            &:after
                background: linear-gradient(180deg, #313133 0%, #1B1C21 100%)
            &:hover
                a.button-1
                    color: #ffffff
        .header-all-links
            a
                color: #ffffff
            .bottom-line
                background: #ffffff
        .header-line-main
            width: 100%
            opacity: 0.2
        .header-all-logo
            svg
                path
                    fill: #ffffff
    &.dark
        .header-all-links
            a
                &:nth-child(1), &:nth-child(2)
                    color: #fff
            a:last-child 
                color: #5B637C
            .bottom-line
                background: #fff
        .header-all-logo
            svg
                path
                    fill: #ffffff
        .header-line-main
            width: 100%
            opacity: 0.2

    &-all
        display: flex
        justify-content: space-between
        width: 100%
        align-items: center
        position: relative
        
        &-logo
            display: flex
            width: auto
            height: auto
            align-items: center
            transition: all 0.75s ease
            img
                width: gem(35)
                height: auto
                margin-top: gem(-10)
            svg
                width: gem(100)
                margin-left: gem(7)
                path
                    fill: #191B1F
                    transition: all 0.3s ease
        &-links
            display: flex
            margin-left: gem(-100)
            position: relative
            .bottom-line
                display: flex
                opacity: 0
                width: gem(46)
                height: gem(1.5)
                position: absolute
                bottom: gem(-10)
                border-radius: gem(100)
                left: 0
                background: #725BFF
                transition: background 0.3s ease

                
            a
                margin-right: gem(58)
                transition: all 0.75s ease
                cursor: unset
            a:last-child
                margin-right: 0
        &-button
            display: flex
            width: gem(122)
            height: gem(37)
            justify-content: center
            align-items: center
            background: #313133
            border-radius: gem(100)
            transition: all 0.75s ease
            position: relative
            // pointer-events: none
            // cursor: none
            // opacity: 0
            a
                width: 100%
                height: gem(37)
                display: flex
                justify-content: center
                align-items: center
                transition: all 0.3s ease
                z-index: 999
            &:after
                opacity: 0
                content: ''
                display: flex
                width: gem(124)
                height: gem(39)
                background: linear-gradient(90deg, #725BFF 0%, #00E5CC 52.6%, #30BAFF 100%)
                position: absolute
                top: gem(-1)
                left: gem(-1)
                border-radius: gem(100)
                transition: all 0.3s ease
            &:hover
                &:after
                    opacity: 1
    &-line
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        bottom: 0
        width: 100%
        &-main
            display: flex
            width: gem(1320)
            height: gem(1)
            opacity: 1
            transition: all 0.3s ease
            background: linear-gradient(270deg, #FFFFFF 1.52%, #FFFFFF 41.07%, #E6E6FF 64.81%)
            border-radius: gem(10)


//custom scroll core

.scrolable-div
    height: 3600vh
section
    z-index: 5
    opacity: 1
    width: 100%
    transition: all 0.75s ease
    position: fixed
    top: 0
    pointer-events: unset
    &.invisible
        pointer-events: none
        opacity: 0
        z-index: 4

.button
    display: flex
    width: gem(180)
    height: gem(64)
    justify-content: center
    align-items: center
    background: linear-gradient(180deg, #9268E9 0%, #735CFF 100%)
    border-radius: gem(10)
    position: relative
    &:after
        content: ''
        display: flex
        position: absolute
        background: linear-gradient(90deg, #725BFF 0%, #00E5CC 52.6%, #30BAFF 100%)
        z-index: 2
        width: 100%
        height: gem(64)
        border-radius: gem(10)
        transition: all 0.3s ease
        opacity: 0
    &::before
        position: absolute
        content: ''
        display: block
        width: gem(154)
        height: gem(41)
        background: linear-gradient(180deg, rgba(146, 104, 233, 0.6) 0%, rgba(115, 92, 255, 0.6) 100%)
        filter: blur(gem(20))
        z-index: 0
        bottom: gem(-20)
        right: 0
        border-radius: 100%
        opacity: .25
    &:hover
        &:after
            opacity: 1
    a
        z-index: 3
        letter-spacing: gem(1)
        width: 100%
        height: gem(64)
        display: flex
        align-items: center
        justify-content: center
.white-button
    display: flex
    width: gem(180)
    height: gem(64)
    justify-content: center
    align-items: center
    background: #fff
    border-radius: gem(10)
    position: relative
    overflow: visible
    &::after
        position: absolute
        content: ''
        display: flex
        width: gem(182)
        height: gem(66)
        top: gem(-1)
        left: gem(-1)
        background: linear-gradient(180deg, #313133 0%, #1B1C21 100%)
        border-radius: gem(10)
        opacity: 0
        transition: all 0.3s ease
        z-index: 2
    &::before
        position: absolute
        content: ''
        display: block
        width: gem(154)
        height: gem(41)
        background: linear-gradient(180deg, rgba(146, 104, 233, 0.6) 0%, rgba(115, 92, 255, 0.6) 100%)
        filter: blur(gem(20))
        z-index: 0
        bottom: gem(-20)
        right: 0
        border-radius: 100%
        opacity: .25
    a
        z-index: 4
        letter-spacing: gem(1)
        width: 100%
        height: gem(64)
        display: flex
        align-items: center
        background: #fff
        border-radius: gem(10)
        justify-content: center
        color: #9268E9
        transition: all 0.3s ease
    &:hover
        a
            color: #fff
            background: none
        &::after
            opacity: 1
.buttons-wrapper
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    .button
        margin-right: gem(16)
// opening
.powered-main
    position: relative
    font-family: var(--main-font)
    font-size: gem(14)
    line-height: gem(20)
    color: #5B637C
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    align-self: flex-start
    opacity: 0
    transform: translateX(gem(-40))
    margin-top: gem(43)

    img
        margin-left: gem(7)
        width: gem(155)
.opening
    display: flex
    // padding-top: gem(215)
    width: 100%
    height: 100vh
    background: #ffffff
    opacity: 1
    transition: all 0.3s ease
    &::before
        position: absolute
        content: ''
        display: block
        width: 100%
        height: 100%
        background: linear-gradient(107.56deg, #EBF9FF 0%, rgba(254, 255, 255, 0) 100%)
    &-anim
        width: 100%
        position: absolute
        display: flex
        height: 100vh
        justify-content: flex-end
        align-items: flex-end
        z-index: -1
        video
            width: 90%
            margin-right: gem(-120)
            // margin-left: gem(200)
            // margin-top: gem(50)
    &.phase_one
        h1, p.desc-1
            opacity: 1
            transform: translateX(0)
    &.phase_two
        .button
            opacity: 1
            transform: translateX(0)

    &-inner
        display: flex
        flex-direction: column
        justify-content: center
        height: 100vh
    &-text
        max-width: gem(600)
        padding-left: gem(63)
        // margin-top: gem(-60)
        h1, p.desc-1, .button, .white-button
            // transition: all 0.5s ease
            opacity: 0
            transform: translateX(gem(-40))
        h1.title-h1
            display: flex
            flex-wrap: wrap
            color: var(--color-grey)
            span
                display: flex
                color: var(--color-black)
        p.desc-1
            max-width: gem(597)
            margin-top: gem(16)
            margin-bottom: gem(46)
        &-scroll
            display: flex
            position: absolute
            align-items: center
            bottom: gem(45)
            left: 0
            cursor: pointer
            &-circle
                display: flex
                justify-content: center
                align-items: center
                width: gem(60)
                height: gem(60)
                border-radius: gem(30)
                background: var(--color-white)
                opacity: 1
                box-shadow: 0 gem(10) gem(20) rgba(68, 83, 126, 0.1)
                border-radius: gem(30)
                margin-right: gem(12)
                cursor: pointer
                &-core
                    display: flex
                    justify-content: center
                    align-items: center
                    width: gem(48)
                    height: gem(48)
                    border-radius: gem(24)
                    background: var(--color-white)
                    box-shadow: 0 gem(10) gem(20) rgba(68, 83, 126, 0.1)
                    border-radius: gem(100)
                    img
                        width: gem(12)
                        position: absolute
                        opacity: 1
                        // transition: all 0.3s ease
                        &:last-child
                            opacity: 0
                            // transition: all 0.3s ease
            &:hover
                .opening-text-scroll-circle-core
                    img
                        &:last-child
                            opacity: 1
                        &:first-child
                            opacity: 0  
                .opening-text-scroll-text span
                    background: linear-gradient(90deg, #725BFF 0%, #00E5CC 52.6%, #30BAFF 100%)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
                            
            &-text
                display: flex
                cursor: pointer
                span
                    color: var(--color-grey)

// leveraged

.leveraged
    background: linear-gradient(107.56deg, #FEFFFF 0%, #F0EDF1 100%)
    &-anim
        width: 100%
        position: absolute
        height: 100vh

        video
            width: 85%
            margin-left: -18%
            // margin-top: gem(40)
            position: absolute
            bottom: gem(-40)
    &-text
        display: flex
        justify-content: flex-end
        width: gem(100%)
        height: 100vh
        &-main
            display: flex
            flex-direction: column
            justify-content: center
            width: gem(660)
            height: 0
            padding-left: gem(120)
            padding-right: gem(60)
            position: absolute
            right: 0
            bottom: 0
            background: var(--color-purple)
            // transition: all 0.75s ease
            h2.title-h2
                color: var(--color-white)
                margin-top: gem(50)
                span
                    display: flex
                    color: var(--color-light-blue)
                // transition: all 0.5s ease
                opacity: 0
                transform: translateX(gem(40))
            p.desc-1
                margin-top: gem(16)
                margin-bottom: gem(18)
                max-width: gem(415)
                color: var(--color-white)
                // transition: all 0.5s ease
                opacity: 0
                transform: translateX(gem(40))
                &:nth-child(2)
                    margin-bottom: 0

// book

.book
    display: flex
    flex-direction: column
    &-first
        display: flex
    &-first
        height: 100vh
        width: 100%
        display: flex
        .book-text
            background: linear-gradient(180deg, rgba(49, 49, 51, 1) 0%, rgba(27, 28, 33, 1) 100%)
            position: absolute
            height: 0
            bottom: 0
            left: 0
            h2.title-h2
                background: linear-gradient(90deg, #725BFF 0%, #00E5CC 52.6%, #30BAFF 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                font-size: gem(15)
                font-family: var(--main-font)
                font-weight: 600
                line-height: gem(18)
                letter-spacing: gem(1.5)
                opacity: 0
                transform: translateX(gem(-40))
            p
                opacity: 0
                transform: translateX(gem(-40))
                &.desc-2
                    font-size: gem(35)
                    line-height: gem(42)
                    font-family: 'Antipasto-Pro-Regular'
                    font-weight: 400

    &-text
        display: flex
        flex-direction: column
        justify-content: center
        width: 45%
        padding: gem(0) gem(84) gem(0) gem(120)
        p.desc-2
            margin-top: gem(20)
            &:nth-child(3)
                display: none
    &-pics
        display: flex
        width: 55%
        height: 100vh
        position: absolute
        right: 0
        .book-slider
            width: 100%
            opacity: 0
            position: relative
            &.activeSlider
                .slick-active
                    opacity: 1
                    img
                        opacity: 1
                    .slide-line
                        animation: slideLine 4.45s linear infinite forwards
            .slick-arrow
                position: absolute
                bottom: gem(70)
                // right: gem(120)
                // -webkit-filter: grayscale(100%) /* Safari 6.0 - 9.0 */
                // filter: grayscale(100%)
                z-index: 99
                transition: all 0.3s ease
                img
                    transition: all 0.3s ease
                &:hover
                    img:nth-child(2)
                        opacity: 1
                    img:nth-child(1)
                        opacity: 0

                    // -webkit-filter: grayscale(0%) /* Safari 6.0 - 9.0 */
                    // filter: grayscale(0%)
                &.next
                    right: gem(50)
                    // bottom: gem(40)
                    img
                        transform: rotate(-90deg)

                &.prev
                    img
                        transform: rotate(90deg)
                    right: gem(120)

            .slick-dots
                position: absolute
                bottom: gem(85)
                margin-left: gem(70)
                display: flex
                flex-direction: row
                align-items: center
                justify-content: center
                &:after
                    content: '/ 4'
                    display: flex
                    justify-content: center
                    align-items: center
                    font-family: var(--main-font)
                    font-weight: 600
                    font-size: gem(15)
                    line-height: gem(18)
                    color: #26c3f5
                li
                    display: none
                button
                    width: gem(25)
                    display: none
                    padding: 0
                .slick-active
                    display: flex
                    align-items: center
                    justify-content: center
                    button
                        background: none
                        display: flex
                        align-items: center
                        justify-content: center
                        font-family: var(--main-font)
                        width: gem(25)
                        font-weight: 600
                        font-size: gem(24)
                        line-height: gem(30)
                        border: none
                        outline: none
                        color: #725BFF
                li, button
                    position: relative
            .slide
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                width: 100%
                height: 100vh
                outline: none
                img
                    // opacity: 0
                    // transition: opacity 0.3s 
                &-line
                    position: absolute
                    display: flex
                    width: gem(5)
                    background: #00E5CC
                    height: 0
                    top: 0
                    margin-left: gem(-787)

                    
                &:nth-child(1)
                    .slide-line
                        background: #00E5CC
                    img
                        width: gem(560)
                    p
                        span
                            color: #00e5cc
                &:nth-child(2)
                    .slide-line
                        background: #30BAFF
                    img
                        width: gem(561)
                    p
                        span
                            color: #30baff
                &:nth-child(3)
                    .slide-line
                        background: #725BFF
                    img
                        width: gem(599)
                    p
                        span
                            color: #725bff
                &:nth-child(4)
                    .slide-line
                        background: #30BAFF
                    img
                        width: gem(541)
                    p
                        span
                            color: #30baff

                p
                    font-family: var(--main-font)
                    font-size: gem(22)
                    line-height: gem(27)
                    position: absolute
                    bottom: gem(87)
                    margin-left: gem(-75)
                    width: gem(400)
                    text-align: center
                    font-weight: 500
        &-list
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 100%
            li
                opacity: 0
                transform: translateX(gem(-40))
                display: flex
                align-items: center
                width: gem(330)
                justify-content: flex-start
                margin-bottom: gem(24)
                margin-left: gem(-40)
            &-img
                width: gem(101)
                height: gem(97)
                margin-right: gem(24)
                display: flex
                justify-content: center
                align-items: center
            li:nth-child(1)
                margin-top: gem(72)
                .book-pics-list-img
                    img
                        width: gem(92)
                        height: auto
            li:nth-child(2)
                .book-pics-list-img
                    img
                        width: gem(86)
                        height: auto
            li:nth-child(3)
                .book-pics-list-img
                    img
                        width: gem(101)
                        height: auto
            li:nth-child(4)
                
                .book-pics-list-img
                    img
                        width: gem(60)
                        height: auto


//smart
.smart
    display: flex
    &-text
        background: linear-gradient(135deg, #EBF9FF 25%, #F6F5FE 75%)
        width: 45%
        height: 100vh
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        flex-direction: column
        p.desc-2.black.smart-text-one:first-child
            margin-bottom: gem(20)
            margin-top: gem(30)
        p
            opacity: 0
            transform: translateX(gem(-40))
            max-width: gem(450)
            margin-left: gem(40)
            font-family: var(--sub-font)
        .poly-block
            position: absolute
            width: 100%
            flex-direction: column
            justify-content: center
            align-items: center
            display: none

            h2.title-h2
                color: var(--color-grey)
                margin-bottom: gem(36)
                margin-top: gem(-200)
                span.title-h2
                    color: var(--color-purple)
            p
                opacity: 1
                transform: none
            .smart-img
                mix-blend-mode: multiply
                position: absolute
                width: gem(823)
                transform: scale(2.7) translateY(6%) translateX(-1.4%)
                // margin-left: gem(-240)
                opacity: 0
            .points
                display: flex
                width: gem(1200)
                flex-wrap: wrap
                position: absolute
                top: gem(-200)
                left: gem(120)
                .point
                    width: gem(385)
                    display: flex
                    opacity: 0
                    transform: translateY(gem(-40))
                    margin-bottom: gem(92)
                    p
                        max-width: gem(256)
                    &-img
                        display: flex
                        justify-content: center
                        align-items: center
                        width: gem(40)
                        height: gem(40)
                        border-radius: gem(20)
                        margin-right: gem(20)
                        background: var(--color-white)
                        opacity: 0.9
                        box-shadow: 0 gem(12.5) gem(25) rgba(68, 83, 126, 0.1)
                        transform: rotate(-180deg)
                        z-index: 5
                        &-one
                            display: flex
                            justify-content: center
                            align-items: center
                            width: gem(30)
                            height: gem(30)
                            border-radius: gem(15)
                            background: var(--color-white)
                            box-shadow: 0 gem(12.5) gem(25) rgba(68, 83, 126, 0.1)
                            transform: rotate(-180deg)
                            z-index: 6
                        &-two
                            display: flex
                            justify-content: center
                            align-items: center
                            width: gem(15)
                            height: gem(15)
                            border-radius: gem(9)
                            // border: gem(3) #30BAFF solid
                            mix-blend-mode: multiply
                            filter: blur(gem(2.25))
                            box-shadow: 0 gem(5) gem(5) rgba(0, 0, 0, 0.03)
                            transform: rotate(-180deg)
                            z-index: 7
                    &:nth-child(1), &:nth-child(4)
                        .point-img-two
                            border: gem(3) #30BAFF solid
                    &:nth-child(2), &:nth-child(5)
                        .point-img-two
                            border: gem(3) #725BFF solid
                    &:nth-child(3), &:nth-child(6)
                        .point-img-two
                            border: gem(3) #51FF9D solid
                    &:first-child, &:last-child
                        width: 100%
                        justify-content: center
                        p
                            max-width: gem(311)
                    &-text
                        display: flex
                        flex-direction: column
                .point:nth-child(2), .point:nth-child(4)
                    margin-right: gem(210)
                .point:nth-child(3), .point:nth-child(5)
                    margin-left: gem(210)
                .point:nth-child(4), .point:nth-child(5)
                    margin-bottom: 0
                .point:first-child
                    margin-bottom: gem(32)
                .point:last-child
                    margin-top: gem(60)
                    margin-bottom: 0
        .poly-text
            opacity: 0 
            transform: translateY(gem(-40))
            display: flex
            width: gem(890)
            justify-content: space-between
            p
                max-width: gem(417)
            p.desc-1:first-child

        h2
            opacity: 0
            transform: translateY(gem(-40))
    &-book
        display: flex
        // width: 100
        flex-direction: row
    &-pics
        width: gem(810)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        height: 100vh
        position: absolute
        right: 0
        &-list
            margin-left: gem(-40)
            li
                opacity: 0
                transform: translateX(gem(-40))
                display: flex
                align-items: center
                width: gem(340)
                justify-content: flex-start
                margin-bottom: gem(24)
                p.label-1
                    color: #5B637C
            &-img
                width: gem(101)
                height: gem(97)
                margin-right: gem(24)
                display: flex
                justify-content: center
                align-items: center
                video
                    width: 100%

            li:nth-child(1)
                margin-top: gem(80)
                p
                    width: gem(210)


//power
.power
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    height: 100vh
    background: linear-gradient(107.56deg, #FEFFFF 0%, #F0EDF1 100%)
    &-card-wrapper
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        width: gem(780)
        padding: gem(135) gem(120) gem(67) gem(120)
    &-card
        display: flex
        flex-direction: column
        width: gem(262)
        height: gem(266)
        border-radius: gem(10)
        background: #ffffff
        box-shadow: 50px 38px 102.371px rgba(120, 118, 148, 0.14)
        opacity: 0
        transform: translateY(gem(-40))
        align-items: center
        padding: gem(0) gem(24) 0 gem(24)
        video
            width: gem(127)
            margin-top: gem(40)
            
        p
            text-align: center
            // margin-top: gem(-20)
            z-index: 2
    &-card:nth-child(1), &-card:nth-child(2)
        margin-bottom: gem(16)
    &-text
        position: absolute
        right: 0
        bottom: 0
        height: 0
        width: gem(660)
        background: linear-gradient(180deg, #313133 0%, #1B1C21 100%)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        h2, p
            width: gem(415)
            opacity: 0
            transform: translateX(gem(40))
        h2.title-h2,  p.title-h2
            font-size: gem(32)
            line-height: gem(40)
            font-weight: 400
        h2.title-h2
            color: var(--color-white)
            margin-top: gem(70)
            margin-bottom: gem(0)
        p.title-h2
            color: var(--color-light-blue)
            margin-bottom: gem(20)
        p.desc-1
            color: var(--color-white)
            &:nth-child(4)
                margin-top: gem(20)
    .second-part
        display: flex
        flex-direction: row
        // display: none
        align-items: center
        position: absolute
        width: 100%
        height: 100vh
        .text-part
            display: flex
            flex-direction: row
            flex-wrap: wrap
            width: gem(1100)
            height: auto
            align-items: flex-start 
            margin-left: gem(118)
            h2
                width: 100%
                transform: translateY(gem(-40))
                margin-bottom: gem(40)
                font-family: var(--sub-font)
                font-weight: 300
                font-size: gem(56)
                line-height: gem(58)
                margin-top: gem(-86)
                span
                    color: var(--color-light-blue)
            p
                width: gem(417)
                transform: translateY(gem(-40))
                margin-right: gem(60)
        img
            width: gem(1553)
            max-width: unset
            height: gem(1553)
            position: absolute
            bottom: -90%
            right: -42%
            opacity: 0
//people
.people
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    height: 100vh
    &-left
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        width: 45%
        height: 0
        background: linear-gradient(135deg, #EBF9FF 25%, #F6F5FE 75%)
        h2
            span
                font-weight: 600
            width: gem(417)
            margin-left: gem(119)
            margin-bottom: gem(20)
            transform: translateX(gem(-40))
            opacity: 0
        p
            width: gem(417)
            margin-left: gem(119)
            transform: translateX(gem(-40))
            opacity: 0
        .subtitle
            font-family: var(--main-font)
            font-weight: 600
            background: linear-gradient(90deg, #725BFF 0%, #00E5CC 52.6%, #30BAFF 100%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-size: gem(15)
            line-height: gem(18)
            letter-spacing: 1.5px
            margin-top: gem(190)
            margin-left: gem(119)
            margin-bottom: gem(5)
            transform: translateX(gem(-40))
            opacity: 0
    &-cards
        width: 55%
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        height: 100vh
        padding-top: gem(90)
        align-self: flex-start
        overflow-y: hidden
        &.active
            overflow-y: auto
            padding-bottom: gem(20)
        &::-webkit-scrollbar
            display: none
        -ms-overflow-style: none
        scrollbar-width: none
        .people-card
            width: gem(420)
            min-height: gem(182)
            height: auto
            background: linear-gradient(180deg, #313133 0%, #1B1C21 100%);
            border-radius: gem(14)
            box-shadow: 0px gem(8) gem(24) rgba(120, 118, 148, 0.08)
            position: relative
            display: flex
            flex-direction: row
            transition: box-shadow 0.3s ease
            transform: translateX(gem(-40))
            opacity: 0
            transition: padding 0.3s ease
            top: 0
            left: 0
            &-wrapper
                width: gem(420)
                // min-height: gem(182)
                height: auto
                margin-left: gem(16)
                margin-bottom: gem(18)
                position: relative
                z-index: 1
                &.active
                    z-index: 9
                    .people-card
                        padding: gem(20)
                        z-index: 999
                        &::after, &::before
                            opacity: 0 !important
                        .people-icon
                            opacity: 0
                            margin-left: gem(-20)
                            margin-top: gem(-20)
                        .status
                            opacity: 0
                            height: 0
                            margin: 0
                        .people-content
                            margin-top: 0
                            width: 100%
                            margin-left: 0
                        .social
                            border-top: gem(1) rgba(196, 196, 196, 0.2) solid
                            margin-left: 0
                            margin-top: gem(20)
                            a
                                path
                                    fill: #fff
                                &:hover
                                    path
                                        fill: #00E5CC
                        .name
                            color: #fff
                            margin-left: 0
                        .bio
                            margin-top: gem(7)
                            // margin-bottom: gem(20)
            .people-icon
                z-index: 3
                position: absolute
                padding: 0 gem(54) 0 gem(40)
                width: gem(180)
                transition: all 0.3s ease
                img
                    position: absolute
                    width: gem(86)
                    height: auto
                    margin-top: gem(30)
                    transition: all 0.3s ease
                    &:nth-child(2)
                        opacity: 0
            .people-content
                // margin-left: gem(180)
                display: flex
                flex-direction: column
                margin-top: gem(30)
                z-index: 3
                transition: all 0.3s ease
            .name
                font-family: var(--sub-font)
                font-size: gem(24)
                line-height: gem(35)
                margin-left: gem(180)
                transition: all 0.3s ease
                // display: none
            .status
                font-family: var(--main-font)
                font-weight: 400
                color: #6653E2
                opacity: 0.6
                font-size: gem(14)
                line-height: gem(20)
                height: gem(20)
                margin-bottom: gem(15)
                margin-left: gem(180)
                transition: all 0.3s ease
            .bio
                font-size: gem(14)
                line-height: gem(21)
                font-family: var(--main-font)
                color: #fff
                opacity: 0.8
                transition: margin 0.3s ease
                margin: 0
                // display: none
            .see_bio
                position: absolute
                top: gem(17)
                right: 0
                color: #735CFF
                font-size: gem(14)
                line-height: gem(17)
                text-transform: uppercase
                font-weight: 600
                cursor: pointer

            .social
                display: flex
                padding-top: gem(12)
                border-top: gem(1) #E5E1FF solid
                align-items: center
                transition: all 0.3s ease
                margin-left: gem(180)
                margin-right: gem(20)
                position: relative
                a
                    display: flex
                    align-items: center
                    svg
                        display: flex
                    &:nth-child(1)
                        svg
                            width: gem(20)
                            
                    &:nth-child(2)
                        margin-left: gem(15)
                        margin-top: gem(-3)
                        svg 
                            width: gem(24)
                    path
                        fill: #5B637C
                        transition: all 0.3s ease
                    &:hover
                        path
                            fill: #00E5CC
            &:before
                content: ''
                width: gem(422)
                height: gem(184)
                background: linear-gradient(62.65deg, #8575E8 15.08%, rgba(133, 117, 232, 0) 90.38%)
                display: flex
                position: absolute
                z-index: -1
                top: gem(-1)
                left: gem(-1)
                border-radius: gem(15)
                opacity: 0.3
                transition: all 0.3s ease
            &:after
                content: ''
                display: flex
                position: absolute
                top: 0
                left: 0
                z-index: 2
                width: gem(420)
                height: gem(182)
                background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%)
                transition: all 0.3s ease
                border-radius: gem(14)
            &:hover
                box-shadow: gem(10) gem(10) gem(40) rgba(120, 118, 148, 0.3)
                &:before
                    opacity: 1
                .people-icon
                    img
                        &:nth-child(2)
                            opacity: 1
                        &:nth-child(1)
                            opacity: 0




//footer
.footer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    background: linear-gradient(135deg, #EBF9FF 25%, #F6F5FE 75%)
    width: 100%
    h2, .button
        opacity: 0
        transform: translateY(gem(-40))
    h2
        background: linear-gradient(90deg, #725BFF 0%, #00E5CC 52.6%, #30BAFF 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        width: gem(1000)
        text-align: center
        margin-top: gem(-110)
        margin-bottom: gem(40)
    .button
        width: gem(226)
        height: gem(64)
        position: relative
        z-index: 3
    .bubbles
        display: flex
        flex-direction: row
        width: 100%
        justify-content: space-between
        position: absolute
        bottom: gem(83)
        z-index: 1
        img
            width: gem(476)
            height: gem(267)
            &:last-child
                width: gem(400)
    .color-line
        width: 100%
        content: ''
        height: gem(1)
        background: linear-gradient(-90deg, #725BFF 0%, #00E5CC 52.6%, #30BAFF 100%)
    .bottom-line
        display: flex
        justify-content: space-between
        width: 100%
        padding: gem(30) 0
        &-wrapper
            position: absolute
            bottom: 0

        .social
            display: flex
            flex-direction: row
            align-items: center
            a
                margin: 0 gem(16)
                display: flex
                height: 100%
                svg
                    display: flex
                    height: 100%
                    path
                        fill: #5B637C
                        transition: all 0.3s ease
                &:nth-child(1)
                    svg
                        width: gem(20)
                &:nth-child(2)
                    svg
                        width: gem(20)
                &:nth-child(3)
                    svg
                        width: gem(18)
                &:hover
                    svg
                        path
                            fill: #222327
        .policy
            display: flex
            flex-direction: row
            align-items: center
            justify-content: flex-end
            a
                margin-left: gem(20)
                transition: all 0.3s ease
                &:hover
                    color: #725BFF
        a
            display: flex
.succsess
    width: gem(762)
    height: gem(68)
    background: rgba(255,255,255,0.8)
    backdrop-filter: blur(gem(10))
    display: flex
    margin: auto
    justify-content: center
    align-items: center
    border-radius: gem(10)
    opacity: 0
    pointer-events: none
    &-wrapper
        width: 100%
        position: fixed
        top: gem(8)
        z-index: 998
        pointer-events: none
    p
        font-family: var(--sub-font)
        font-size: gem(20)
        line-height: gem(22)
.form
    position: fixed
    top: 0
    left: 0
    // opacity: 0
    width: 100%
    height: 100vh
    display: none
    flex-direction: space-between
    align-items: flex-end
    z-index: 999
    &.active
        display: flex
        pointer-events: unset
        // opacity: 1
    .opening-text-scroll-circle
        img
            transform: rotate(90deg)
        &:hover
            .opening-text-scroll-circle-core
                img
                    &:last-child
                        opacity: 1
                    &:first-child
                        opacity: 0  
    &-right
        width: gem(660)
        height: 100%
        img
            width: 100%
            height: 100%
            object-fit: cover
    &-left
        width: gem(780)
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        background: linear-gradient(135deg, #EBF9FF 25%, #F6F5FE 75%)
        
        &-top
            display: flex
            flex-direction: row
            align-items: center
            justify-content: flex-start
            width: 100%
            padding: gem(11) gem(57)
            position: absolute
            top: 0
            left: 0
            width: 100%
            .full-logo
                margin-left: gem(55)
                width: gem(118)
        &-main
            padding-left: gem(180)
        h2
            font-family: var(--sub-font)
            font-weight: 600
            font-size: gem(32)
            line-height: gem(42)
            color: #1B1C21
            width: gem(390)
            margin-bottom: gem(11)
            span
                color: #725bff
                font-weight: normal
        form
            width: gem(360)
            display: flex
            flex-direction: column
            align-items: flex-start
            // justify-content: 
            span
                font-family: var(--main-font)
                font-size: gem(12)
                line-height: gem(22)
                color: #1B1C21
                margin-top: gem(15)
                margin-bottom: gem(4)
            .input-wrapper
                width: 100%
                height: gem(54)
                position: relative
                display: flex
                flex-direction: column
                align-items: center
                position: relative
                .input-shadow
                    display: block
                    z-index: 1
                    position: absolute
                    top: 0
                    width: 90%
                    height: 100%
                    background: #FFFFFF
                    box-shadow: 0px 10px 20px rgba(68, 83, 126, 0.2)
                    opacity: 0
                    border-radius: gem(10)
                    transition: all 0.3s ease
                .error-span
                    position: absolute
                    color: #FF2D50
                    font-family: var(--main-font)
                    font-size: gem(9)
                    line-height: gem(22)
                    right: 0
                    top: gem(-25)
                    display: flex
                    transition: all 0.3s ease
                    opacity: 0
                    &.active
                        opacity: 1
                    img
                        width: gem(10)
                        margin-right: gem(5)

            input
                -webkit-appearance: none
                -moz-appearance: none
                appearance: none
                position: relative
                display: flex
                align-items: flex-start
                font-family: var(--main-font)
                font-size: gem(14)
                line-height: gem(22)
                color: #5B637C
                background: #fff
                border-radius: gem(10)
                width: 100%
                height: 100%
                z-index: 2
                padding: 0 gem(16)
                outline: none
                border: gem(1) #fff solid
                transition: all 0.3s ease
                box-shadow: none !important
                &:hover
                    ~ .input-shadow
                        opacity: 0.6
                    // box-shadow: 0 gem(10) gem(10) 0 #44537e
                &:focus
                    border: gem(1) #9268E9 solid
                    ~ .input-shadow
                        opacity: 0.6
            .button-wrapper
                width: 100%
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                margin-top: gem(58)
                height: gem(64)
                position: relative
                &:after
                    content: ''
                    position: absolute
                    display: block
                    width: gem(308)
                    height: gem(40)
                    background: linear-gradient(180deg, rgba(146, 104, 233, 0.6) 0%, rgba(115, 92, 255, 0.6) 100%)
                    filter: blur(gem(20))
                    z-index: 1
                    align-self: flex-end
                    border-radius: 100%
                    bottom: gem(-5)
            button
                z-index: 2
                display: flex
                align-items: center
                justify-content: center
                width: 100%
                height: 100%
                border-radius: gem(10)
                background: linear-gradient(180deg, #9268E9 0%, #735CFF 100%)
                border: none
                outline: none
                cursor: pointer
                span
                    font-family: var(--main-font)
                    font-size: gem(13)
                    line-height: gem(16)
                    color: #fff
                    text-transform: uppercase
                    margin: 0
                    z-index: 3
                &::after
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    left: 0
                    border-radius: gem(10)
                    width: 100%
                    height: 100%
                    background: linear-gradient(90deg, #725BFF 0%, #00E5CC 52.6%, #30BAFF 100%)
                    z-index: 2
                    opacity: 0
                    transition: all 0.3s ease
                &:hover
                    &::after
                        opacity: 1
                

@keyframes slideLine
  0%
    height: 0
  100%
    height: 100vh
@import 'responsive.sass'