@import './common/vars.sass'
@import './common/gem.scss'

*
    box-sizing: border-box

html, body
    width: 100%

body,
main
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    overflow: hidden
    height: 3200vh
    // height: 100vh
    &.mobile-menu-open
        overflow: hidden
    &.modal-active
        overflow: hidden

main
    position: relative
    width: 100%
    flex: 1 0 auto

.footer
    width: 100%
    flex: 0 0 auto

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // visibility: hidden

.fluid-container
    width: 100%
    position: relative

.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

.row
    display: flex
    flex-direction: row

.row-reverse
    display: flex
    flex-direction: row-reverse

.column
    display: flex
    flex-direction: column

.column-reverse
    display: flex
    flex-direction: column-reverse

.s-visible,
.xs-visible,
.xxs-visible
    display: none

.lazy
    opacity: 0
    transition: opacity 0.3s ease
    &Loaded
         opacity: 1
.opacity_none
    opacity: 0
input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

@media only screen and (max-width : 1024px)
    .s-hidden
        display: none

    .s-visible
        display: block

@media only screen and (max-width : 480px)

    body
        &.modal-active
            position: fixed

    .xxs-visible
        display: block

    .xxs-hidden
        display: none

//start here

.header
    display: flex
    width: 100%
    height: gem(90)
    align-items: center
    position: fixed
    top: 0
    z-index: 10
    backdrop-filter: blur(gem(86))
    transition: all 0.75s ease
    &.light
        a.button-1
            color: #745DFF
        .header-all-button
            background: #ffffff
            transition: all 0.75s ease
        .header-all-links
            a:last-child 
                color: #ffffff
        .header-line-main
            width: 100%
    &.dark
        .header-all-links
            a
                &:nth-child(1), &:nth-child(2)
                    color: #fff
            a:last-child 
                color: #5B637C
    &-all
        display: flex
        justify-content: space-between
        width: 100%
        align-items: center
        position: relative
        &-logo
            display: flex
            width: gem(141)
            height: auto
            transition: all 0.75s ease
            img
                width: gem(141)
                height: auto
        &-links
            display: flex
            a
                margin-right: gem(52)
                transition: all 0.75s ease
            a:last-child
                margin-right: 0
        &-button
            display: flex
            width: gem(93)
            height: gem(37)
            justify-content: center
            align-items: center
            background: #313133
            border-radius: gem(100)
            transition: all 0.75s ease
            a
                transition: all 0.75s ease
    &-line
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        bottom: 0
        width: 100%
        &-main
            display: flex
            width: gem(1320)
            height: gem(1)
            transition: all 0.3s ease
            background: linear-gradient(270deg, #FFFFFF 1.52%, #FFFFFF 41.07%, #E6E6FF 64.81%)
            border-radius: gem(10)


//custom scroll core

.scrolable-div
    height: 3200vh
section
    z-index: 5
    opacity: 1
    width: 100%
    transition: all 0.75s ease
    position: fixed
    top: 0
    &.invisible
        opacity: 0
        z-index: 4

.button
    display: flex
    width: gem(180)
    height: gem(64)
    justify-content: center
    align-items: center
    background: linear-gradient(180deg, #9268E9 0%, #735CFF 100%)
    border-radius: gem(10)
    a
        letter-spacing: gem(1)

// opening

.opening
    display: flex
    // padding-top: gem(215)
    width: gem(100%)
    height: 100vh
    background: linear-gradient(107.56deg, #FEFFFF 0%, #F0EDF1 100%)
    opacity: 1
    transition: all 0.3s ease
    &.phase_one
        h1, p.desc-1
            opacity: 1
            transform: translateX(0)
    &.phase_two
        .button
            opacity: 1
            transform: translateX(0)

    &-inner
        display: flex
        flex-direction: column
        justify-content: center
        height: 100vh
    &-text
        max-width: gem(600)
        padding-left: gem(123)
        margin-top: gem(-60)
        h1, p.desc-1, .button
            // transition: all 0.5s ease
            opacity: 0
            transform: translateX(gem(-40))
        h1.title-h1
            display: flex
            flex-wrap: wrap
            color: var(--color-grey)
            span
                display: flex
                color: var(--color-black)
        p.desc-1
            max-width: gem(597)
            margin-top: gem(16)
            margin-bottom: gem(46)
        &-scroll
            display: flex
            position: absolute
            align-items: center
            bottom: gem(45)
            left: 0
            cursor: pointer
            &-circle
                display: flex
                justify-content: center
                align-items: center
                width: gem(60)
                height: gem(60)
                border-radius: gem(30)
                background: var(--color-white)
                opacity: 0.6
                box-shadow: 0 gem(10) gem(20) rgba(68, 83, 126, 0.1)
                border-radius: gem(30)
                margin-right: gem(12)
                cursor: pointer
                &-core
                    display: flex
                    justify-content: center
                    align-items: center
                    width: gem(48)
                    height: gem(48)
                    border-radius: gem(24)
                    background: var(--color-white)
                    box-shadow: 0 gem(10) gem(20) rgba(68, 83, 126, 0.1)
                    border-radius: gem(100)
                    img
                        width: gem(12)
            &-text
                display: flex
                cursor: pointer
                span
                    color: var(--color-grey)

// leveraged

.leveraged
    background: linear-gradient(107.56deg, #FEFFFF 0%, #F0EDF1 100%)
    &-text
        display: flex
        justify-content: flex-end
        width: gem(100%)
        height: 100vh
        &-main
            display: flex
            flex-direction: column
            justify-content: center
            width: gem(660)
            height: 0
            padding-left: gem(120)
            padding-right: gem(60)
            position: absolute
            right: 0
            bottom: 0
            background: var(--color-purple)
            // transition: all 0.75s ease
            h2.title-h2
                color: var(--color-white)
                span
                    display: flex
                    color: var(--color-light-blue)
                // transition: all 0.5s ease
                opacity: 0
                transform: translateX(gem(40))
            p.desc-1
                margin-top: gem(16)
                margin-bottom: gem(18)
                max-width: gem(415)
                color: var(--color-white)
                // transition: all 0.5s ease
                opacity: 0
                transform: translateX(gem(40))

// book
.book
    display: flex
    flex-direction: column
    &-first
        display: flex
    &-first
        height: 100vh
        width: 100%
        display: flex
        .book-text
            background: linear-gradient(180deg, rgba(49, 49, 51, 1) 0%, rgba(27, 28, 33, 1) 100%)
            position: absolute
            height: 0
            bottom: 0
            left: 0
            h2.title-h2
                background: linear-gradient(90deg, #725BFF 0%, #00E5CC 52.6%, #30BAFF 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                font-size: gem(15)
                font-family: var(--main-font)
                font-weight: 600
                line-height: gem(18)
                letter-spacing: gem(1.5)
                opacity: 0
                transform: translateX(gem(-40))
            p
                opacity: 0
                transform: translateX(gem(-40))

    &-text
        display: flex
        flex-direction: column
        justify-content: center
        width: 45%
        padding: gem(0) gem(90) gem(0) gem(120)
        p.desc-2
            margin-top: gem(20)
            &:nth-child(3)
                display: none
    &-pics
        display: flex
        width: gem(810)
        height: 100vh
        position: absolute
        right: 0
        &-list
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 100%
            li
                opacity: 0
                transform: translateX(gem(-40))

//smart
.smart
    display: flex
    &-text
        background: linear-gradient(135deg, #EBF9FF 25%, #F6F5FE 75%)
        width: 45%
        height: 100vh
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        p
            opacity: 0
            transform: translateX(gem(-40))
            max-width: gem(450)
        .poly-block
            position: absolute
            width: 100%
            flex-direction: column
            justify-content: center
            align-items: center
            display: none
            p
                opacity: 1
                transform: none
            .smart-img
                mix-blend-mode: multiply
                position: absolute
                width: gem(1023)
                transform: scale(2.5) translateY(gem(450))
                margin-left: gem(-250)
                opacity: 0
            .points
                display: flex
                width: 100%
                flex-wrap: wrap
                position: absolute
                .point
                    width: 49%
                    display: flex
                    opacity: 0
                    transform: translateY(gem(-40))
                    img
                        width: gem(40)
                        height: gem(40)
                        margin-right: gem(20)
                    &:first-child, &:last-child
                        width: 100%
                        justify-content: center
                    &-text
                        display: flex
                        flex-direction: column
        .poly-text
            opacity: 0 
            transform: translateY(gem(-40))

        h2
            opacity: 0
            transform: translateY(gem(-40))
    &-book
        display: flex
        width: 100
        flex-direction: row
    &-pics
        width: gem(810)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        height: 100vh
        position: absolute
        right: 0
        &-list
            li
                opacity: 0
                transform: translateX(gem(-40))

//power
.power
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    height: 100vh
    background: linear-gradient(107.56deg, #FEFFFF 0%, #F0EDF1 100%)
    &-card-wrapper
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        width: gem(550)
    &-card
        width: gem(262)
        height: gem(296)
        border-radius: gem(10)
        background: linear-gradient(241.25deg, rgba(255, 255, 255, 0.45) 4.4%, rgba(255, 255, 255, 0.65) 61.77%, rgba(255, 255, 255, 0.54) 119.94%)
        box-shadow: 50px 38px 102.371px rgba(120, 118, 148, 0.14)
        backdrop-filter: blur(21.5519px)
        opacity: 0
        transform: translateY(gem(-40))
    &-text
        position: absolute
        right: 0
        bottom: 0
        height: 0
        width: 45%
        background: linear-gradient(180deg, #313133 0%, #1B1C21 100%)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        h2, p
            width: gem(415)
            opacity: 0
            transform: translateX(gem(40))
    .second-part
        display: flex
        flex-direction: row
        // display: none
        align-items: center
        position: absolute
        width: 100%
        height: 100vh
        .text-part
            display: flex
            flex-direction: row
            flex-wrap: wrap
            width: gem(900)
            height: auto
            align-items: center
            h2
                width: 100%
                transform: translateY(gem(-40))
                margin-bottom: gem(20)
            p
                width: gem(417)
                transform: translateY(gem(-40))
                margin-right: gem(20)
        img
            width: gem(1553)
            max-width: unset
            height: gem(1553)
            position: absolute
            bottom: -80vh
            right: -48%
            opacity: 0

//footer
.footer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    background: linear-gradient(135deg, #EBF9FF 25%, #F6F5FE 75%)
    width: 100%
    h2, .button
        opacity: 0
        transform: translateY(gem(-40))